.titleWrapper {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
}

.animated-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: linear-gradient(45deg, #ff0000, #00ff00, #0000ff);
  background-size: cover;
  animation-name: rotateBackground;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotateBackground {
  0% {
    transform: rotate(0deg);
    background-position: 0% 50%;
  }
  100% {
    transform: rotate(360deg);
    background-position: 100% 50%;
  }
}
