@use '../../helpers/variables';
.nav-link {
  background-image: linear-gradient(
    to right,
    #dbdbdb49 0%,
    #f7f7f7be 51%,
    #e4e4e485 100%
  );
  backdrop-filter: blur(5px);
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: variables.$primaryRed;
  font-weight: bold;

  border: 1px solid rgba(255, 255, 255, 0.247);
  display: block;
  &:hover,
  &:focus {
    background-position: right center; /* change the direction of the change here */

    text-decoration: none;
  }
  &.active {
    background-image: linear-gradient(
      to right,
      #dc2424 0%,
      #4a569d 51%,
      #dc2424 100%
    );
    color: #fff;
  }
}
